<div class="float">
<%= form_tag plot_path, :remote => true do %>
	<% Subway.find(:all, :select => "distinct line").each do |t| %>
		<%= submit_tag t.line, class: "btn btn-primary" %>
	<% end %>
<% end %>
</div>

<div id="map_container">
<%= render :partial => 'map', :locals => {:lat => 40.7, :long => -73.98, :zoom => 12} %>
</div>


