/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	background: url('dark_wall.png');
  font-family: 'Rambla', sans-serif;
}

header {
  height: 400px;
  background: url('dotted worldmap-01.png') no-repeat;
  background-size: 90%;
  margin-top: -180px;
}



h1 {
  font-size: 150px;
  text-align: center;
  padding-top: 80px;
  color: #C0C0C0;
}

p {
  font-size: 50px;
  text-align: center;
  margin-top: -140px;
  color: #C0C0C0;
}

footer {
  height: 90px;
  background: url('dark_wall.png')
  color: white;
}

.heart:hover {
  color: $pink;
}



#map_canvas {
	border: 10px solid #C0C0C0;
	border-radius: 5px;
	width: 1100px;
	height: 500px;
  margin: auto;
}

